<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_save_after">
		<observer name="{{ LOWERCASE_PROJECT }}_review_invitation" instance="Valued\Magento2\Observer\OrderSave" />
	</event>
	<event name="admin_system_config_changed_section_{{ LOWERCASE_PROJECT }}_magento2">
		<observer name="{{ LOWERCASE_PROJECT }}_admin_system_config_changed_section" instance="Valued\Magento2\Observer\ConfigChange" />
	</event>
</config>
